<div class="text-center mt-3 mb-3">
    <form>
        <i aria-hidden="true" class="fa fa-search mr-1"></i>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="debounce.next($event.target.value)">
    </form>
</div>

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>

<ap-load-button
    (click)="load()"
    [hasMore]="hasMore">
</ap-load-button>