<p class="text-center text-muted" *ngIf="!photos.length">
    Sorry, no photos
</p>

<ol class="list-unstyled">
    <li *ngFor="let cols of rows" class="row no-gutters">
        <div *ngFor="let photo of cols" class="col-4">
            <ap-photo 
                [url]="photo.url" 
                [description]="photo.description">
            </ap-photo>
        </div>
    </li>
</ol>